<nav id="navmenu" class="navmenu">
  <ul>
    <li><a href="index.html" id="index.html" class="active">Home</a></li>
    <li><a href="about.html" id="about.html">About</a></li>
    <li><a href="floyd-nation.html" id="floyd-nation.html">Floyd Nation</a></li>
    <li><a href="lessons.html" id="lessons.html">Lessons</a></li>
    <li><a href="recording.html" id="recording.html">Recording Studio</a></li>
    <li class="dropdown"><a href="#"><span>Services</span> <i class="bi bi-chevron-down toggle-dropdown"></i></a>
      <ul>
        <li><a href="lessons.html">Coaching</a></li>
        <li class="dropdown"><a href="#"><span>Music Production</span> <i class="bi bi-chevron-down toggle-dropdown"></i></a>
          <ul>
            <li><a href="#">Guitar Tracks</a></li>
            <li><a href="#">Backing Tracks</a></li>
            <li><a href="#">Mixing</a></li>
            <li><a href="#">Mastering</a></li>
            <li><a href="#">Consulting</a></li>
          </ul>
        </li>
        <li><a href="#">Sound Design</a></li>
        <li><a href="#">Remote Services</a></li>
        <li><a href="#">Web & Software</a></li>
        <li><a href="starter-page.html">Starter Page</a></li>
      </ul>
    </li>
    <li><a href="contact.html" id="contact.html">Contact</a></li>
  </ul>
  <i class="mobile-nav-toggle d-xl-none bi bi-list"></i>
</nav>