<select class="form-select services-select" name="subject" required="true" aria-label="Services select menu">
    <option value="">--Required: Please select a Subject--</option>
    <option value="guitar">Guitar Lessons</option>
    <option value="song">Learn by Song: Guitar</option>
    <option value="lessons">Other Lessons: Describe below</option>
    <option value="recording">Recording Services</option>
    <option value="sound-design">Sound Design</option>
    <option value="web-design">Software/IT</option>
</select>