---
title: "Lesson Details"
---

<main class="main">

    <!-- Page Title -->
    <div class="page-title" data-aos="fade">
      <div class="heading">
        <div class="container">
          <div class="row d-flex justify-content-center text-center">
            <div class="col-lg-8">
              <h1>Lessons</h1>
              <p class="mb-0">Guitar, sound design, music mixing...I offer lessons in all things pro-audio and related technology!</p>
            </div>
          </div>
        </div>
      </div>
      <nav class="breadcrumbs">
        <div class="container">
          <ol>
            <li><a href="index.html">Home</a></li>
            <li class="current">Lesson Details</li>
          </ol>
        </div>
      </nav>
    </div><!-- End Page Title -->

    <!-- Service Details Section -->
    <section id="service-details" class="service-details section">

      <div class="container">

        <div class="row gy-4">

          <div class="col-lg-4" data-aos="fade-up" data-aos-delay="100">
            <div class="services-list">
              <a href="#" class="active">Lessons</a>
              <a href="#">Sound Design</a>
              <a href="#">Audio Mixing</a>
              <a href="#">Logic Pro</a>
              <a href="#">Software Development</a>
            </div>

            <h4>Lessons in a broad range of categories</h4>
            <p>Traditional lessons, one-on-one or remote using FaceTime or Zoom.  Explore the categories I offer and <a href="contact.html">Contact Me</a> to schedule a conversation.</p>
          </div>

          <div class="col-lg-8" data-aos="fade-up" data-aos-delay="200">
            <img src="images/brendon/stage-2.jpg" alt="" class="img-fluid services-img">
            <h3>Guitar lessons that cover all the bases</h3>
            <p>
              Blanditiis voluptate odit ex error ea sed officiis deserunt. Cupiditate non consequatur et doloremque consequuntur. Accusantium labore reprehenderit error temporibus saepe perferendis fuga doloribus vero. Qui omnis quo sit. Dolorem architecto eum et quos deleniti officia qui.
            </p>
            <ul>
              <div class="row">
                <div class="col-lg-6">
                  <li><i class="bi bi-check-circle"></i> <span>Finger picking</span></li>
                  <li><i class="bi bi-check-circle"></i> <span>Playing with FEEL</span></li>
                  <li><i class="bi bi-check-circle"></i> <span>Modes and how to use them</span></li>
                </div>
                <div class="col-lg-6">
                  <li><i class="bi bi-check-circle"></i> <span>Improvisation</span></li>
                  <li><i class="bi bi-check-circle"></i> <span>Playing with others</span></li>
                  <li><i class="bi bi-check-circle"></i> <span>Pentatonics</span></li>
                </div>
              </div>
            </ul>
            <p>
              Est reprehenderit voluptatem necessitatibus asperiores neque sed ea illo. Deleniti quam sequi optio iste veniam repellat odit. Aut pariatur itaque nesciunt fuga.
            </p>
            <p>
              Sunt rem odit accusantium omnis perspiciatis officia. Laboriosam aut consequuntur recusandae mollitia doloremque est architecto cupiditate ullam. Quia est ut occaecati fuga. Distinctio ex repellendus eveniet velit sint quia sapiente cumque. Et ipsa perferendis ut nihil. Laboriosam vel voluptates tenetur nostrum. Eaque iusto cupiditate et totam et quia dolorum in. Sunt molestiae ipsum at consequatur vero. Architecto ut pariatur autem ad non cumque nesciunt qui maxime. Sunt eum quia impedit dolore alias explicabo ea.
            </p>
          </div>

        </div>

      </div>

    </section><!-- /Service Details Section -->

  </main>